.dashboard-container {
    height: 70vh;
}
.color-sidenavbar {
    text-shadow: 5px 5px 10px rgba(18, 112, 81, 0.512);
}
.toolbar {
    background-color: rgba(7, 76, 7, 0.973);
}
.logo {
    border-radius: 50%;
}