<mat-drawer-container class="dashboard-container" autosize>
    <!--SIDEBARD-->
    <mat-drawer #drawer class="color-sidenavbar" mode="side">
        <p>Institución</p>
        @if (showFiller) {
        <p>Usuarios</p>
        <p>Estudiantes</p>
        <p>Profesores</p>
        <p>Administrativos</p>
        }
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Mostrar más
        </button>
    </mat-drawer>
    <!--SIDEBARD-->

    <!--CONTENIDO-->
    <div class="example-sidenav-content">

        <!--TOOLBAR-->
            <mat-toolbar class="toolbar" color="primary">
                <button (click)="drawer.toggle()"mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <div>
                    <h1>Colegio Principe de Paz</h1>
                </div>
                <div class="logo">
                    <img src=".//../../../../assets/img/CPP.png" alt="">
                </div>
                
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-toolbar>
        
        <!-- TOOLBAR -->
        <div class="p-7">
            <app-rxjs-example></app-rxjs-example>
            <!--<app-pipes></app-pipes>-->
            <!-- <app-users></app-users> -->
        </div>
    </div>
<!--CONTENIDO-->
</mat-drawer-container>