<mat-drawer-container class="dashboard-container" autosize>
    <!--SIDEBARD-->
    <mat-drawer #drawer class="color-sidenavbar" mode="side">
        <mat-nav-list>
            <a routerLink="" mat-list-item>Home</a>
            <a mat-list-item>Institución</a>
            <a routerLink="users">Usuarios</a>
            <a mat-list-item>Estudiantes</a>
            <a mat-list-item>Profesores</a>
            <a mat-list-item>Administrativos</a>
        </mat-nav-list>
        <button (click)="showFiller = !showFiller" mat-raised-button>
            Mostrar más
        </button>
    </mat-drawer>
    <!--SIDEBARD-->

    <!--CONTENIDO-->
    <div class="example-sidenav-content">

        <!--TOOLBAR-->
            <mat-toolbar class="toolbar" color="primary">
                <button (click)="drawer.toggle()"mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <div>
                    <h1>Colegio Principe de Paz</h1>
                </div>
                
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-toolbar>
        
        <!-- TOOLBAR -->
        <div class="p-4">
            <router-outlet></router-outlet>
            <!-- <app-rxjs-example></app-rxjs-example> -->
            <!--<app-pipes></app-pipes>-->
            
        </div>
    </div>
<!--CONTENIDO-->
</mat-drawer-container>


